matplotlib
plotly
scipy
# sklearn
# scikit-learn
pandas
numpy
git+https://github.com/openai/whisper.git
pytube
streamlit
streamlit_chat
openai
cohere
pinecone-client
python-dotenv
youtube_transcript_api
pyngrok==5.2.1 